.welcomePage {
    padding-top: 10vh;
    // height: 100vh;
    &__theme {
        font-size: 2rem;
        text-align: center;
    }
    // background-image: url(https://res.cloudinary.com/apollofymusicproject/image/upload/v1620320553/uploadedImages/Recurso_1_2x_ocayyh.png);
    // background-repeat: no-repeat;
    // background-size: cover;
}
